[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
chromadb = "*"
faiss-cpu = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-anthropic = "*"
typer = {extras = ["all"], version = "*"}

[dev-packages]
black = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.12"
